body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    color: #25291c;
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-family: 36px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 50px;
  }
  
  input {
    background-color: #d4d4d4;
    border: 0;
    /*   border: 1px solid #efefef; */
    /*   border-radius: 25px; */
    font-family: 'Open Sans', sans-serif;
    transition: .3s;
    padding: 10px;
    text-align: center;
  }
  input[type="text"] {
    font-size: 16px;
    margin: 50px 25px 20px;
    padding: 10px;
  }
  
  input:focus {
    background-color: #b6b6b4
  }
  input[type="submit"]{
         background-color: #67B26F;
    color: #fff
  }
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: #61a067;
    
  }
  .result {
    padding: 20px;
    color: black;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin-top: 50px;
  }
  